body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

section {
    display: flex;
    width: 100%;
    /* height: 100vh; */
    /* margin: %; */
}


.content{
    width: 50%;
    /* background-color: red; */
    margin-left: 5%;
    padding: 20px;
}

.image{
    background-position: fixed;
    width: 50%;
    /* margin: 5%; */
    padding: 20px;
    justify-content: center;
    /* background-color: green; */
}

.image > img{
    max-width: 50%;
    margin-left: 20px;
}

h1 {
    font-size: 30px;

}

p{
    width: 80%;
    max-width: 100vh;
    /* background-color: greenyellow; */
    margin-bottom: 20px;
}

.my-name{
    color: orangered;
}

.button{
    text-decoration: none;
    background-color: orangered;
    color: white;
    margin-top: 10px;
    padding: 12px;
    max-width: 80px;
    border-radius: 5px;
     line-height: 20px;
}

.button > .button-click{
    text-decoration: none;
    color: white;
    /* text-shadow: rebeccapurple; */
    font-weight: bold;
   
}

.main-section{
    display: flex;
    width: 100%;
    /* background-color: red; */
    box-sizing: border-box;
    margin-top: 2%;
    margin-left: 2%;
}

.text-div{
    width: 50%;
    /* background-color: green; */
}

.image-div{
    width: 50%;
    /* margin: 20px; */
}

.image-div > img{
    width: 100%;
    margin-right:20px;
    /* margin-right: 20px; */
    padding: 20px;
    /* border: 2px solid black; */
}

.text-div{
    width: 50%;
    margin-left: 5%;
    margin-top:40px ;
    overflow: hidden;
}

.text-div > h1{
    color: #912d2d;
}

.text-div > h2{
    color: #000000;
}

.text-div > p > span{
    color: #f70a0a;
}

.Experience{
    color: #912d2d;
    margin: 0;
    margin-top: 20px;
}

.resume-button{
    background-image: linear-gradient(tomato, cyan);
    text-decoration: none;
    padding: 8px;
    border-radius: 20px;
    color: #fffafa;
    font-size: bold;
    /* text-shadow: #912d2d; */
}

/* this is last section and footer  */

.experience-section{
    display: flex;
    
    width: 100%;
    min-height: 300px;
    margin-left: 20px;
}

/* first box  */
.first-sec{

    width: 50%;
    padding: 20px;
}

/* secodn box  */
.second-sec{
   
    width: 50%;
    margin-right: 20px 10px;
    padding: 20px;
}


.date{
    color: #000000;
}

/* footer section  */
footer > p{
    text-align: center;
    justify-content: center;
    padding: inherit;
    color: red;
}